<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <div class="central">
        <%-include ('partials/header') %>

        <h1>Express movies</h1>
        <div>film:</div>
    </div>
    <%-include ('partials/footer') %>

    </body>
</html>